<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form class="form-signin mg-btm">
        <h3 class="heading-desc"> Faça seu login</h3>
        <div class="social-box">
          <div class="row mg-btm">
            <div class="col-md-12">
              <a href="#" class="btn btn-primary btn-block btn-facebook">
                <i class="icon-facebook"></i> Login com Facebook
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="btn btn-info btn-block btn-twitter" >
                <i class="icon-twitter"></i> Login com Twitter
              </a>
            </div>
          </div>
        </div>
        <div class="main">
          <input type="text" class="form-control" placeholder="Email" autofocus>
          <input type="password" class="form-control" placeholder="Password">
          <span class="clearfix"></span>
        </div>
        <div class="login-footer">
          <div class="row">
            <div class="col-xs-7 col-md-7">
              <div class="left-section">
                <a href="">Esqueceu sua senha?</a>
              </div>
            </div>
            <div class="col-xs-5 col-md-5 pull-right">
              <button type="submit" class="btn btn-large btn-success pull-right">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
