<div class="container">
    <h4 class="modal-title w-100 font-weight-bold">Formulário de Clientes</h4>
      <form >
        <div class="row">
            <div class="col">
              <input type="text" formControlName="nome" id="form3" name="nome" class="form-control" placeholder="Nome completo" required>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-9">
            <input type="text" id="form2" name="endereco" formControlName="endereco" class="form-control" placeholder="Endereço" required>
          </div>
          <div class="col-md-3">
            <input type="number" id="form" name="numero" class="form-control" formControlName="numero" placeholder="numero" required>
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="inputCity" placeholder="Bairro" formControlName="bairro" name="bairro" required>
          </div>
          <div class="form-group col-md-4">
            <select id="inputState" class="form-control" formControlName="estado" name="estado" required>
              <option selected value="">Selecione Estado</option>
              <option value="SP">SP</option>
              <option value="PR">PR</option>
              <option value="PA">PA</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control" id="inputZip" placeholder="País" formControlName="pais" name="pais" required>
          </div>
        </div>
        <button class="btn btn-success" type="submit">Editar <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
    </form>
  </div>
